matplotlib
networkx
numpy
#git+https://github.com/JeremieGince/pennylane.git@v0_32_0-dev1
pfapack
pytest
pytest_cov
pytest_json_report
pythonbasictools
scipy
setuptools
sympy
tqdm

seaborn
scikit-learn
pandas
psutil
torch

#dist/MatchCake-0.0.1b0-py3-none-any.whl